{% extends '_base.html' %}

{% block title %}
    home
{% endblock %}
{% block content %}
    <h1>this is home page </h1>
    {% if user.is_authenticated %}
        <p>welcome {{ user.username }} <span>|</span>
        <a href="{% url 'logout' %}"><button class=".btn-success" type="submit">LOGIN</button></a></p>

    {% else %}
        <a href="{% url 'login' %}"> <button class=".btn-success" type="submit">LOGIN</button> </a>
        <span>|</span>
        <a href="{% url 'sing_up' %}"> <button class=".btn-success" type="submit">SINGUP</button> </a>

    {% endif %}

{% endblock %}